@use 'sass:math';
@import '/src/styles/scss';

section.sectionIntro {
  // background: rgb(65, 87, 111);
  background-color: #031223;
  background: linear-gradient(0deg, #031223 0%, #0c0b0f 100%);
  // background-color: #0c0b0f;
  padding: math.div($defaultPadding, 1) 0;
  display: flex;
  flex-direction: column;
  z-index: 999;

  .intro {
    // max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    border-radius: 8px 8px 0 0;

    @include respond-below(lg) {
      border-radius: 0px;
      box-shadow: none;
    }

    div {
      padding: 24px 32px 32px;
      width: calc(50% - 1px);
      align-items: stretch;
      display: flex;
      margin: 1px 0.5px 0 0.5px;
      position: relative;

      @include respond-below(lg) {
        margin: 1px 0 0 0;
      }

      @include respond-below(sm) {
        width: 100%;
      }

      span {
        align-items: center;
        width: 100%;

        i {
          color: $txtColor;

          align-self: flex-start;
          background-color: #41576f30;
          font-size: 24px;
          border-radius: 999rem;
          padding: 8px;
          margin-bottom: 16px;
          height: auto;
          position: relative;
        }

        h2,
        p,
        ul,
        li {
          color: #ffffffb8;
          -webkit-margin-after: 0;
          margin-bottom: 0;
          text-align: left;
        }

        ul {
          text-align: left;

          li {
            list-style-type: square;
            margin: 0 0 0px 0;
            padding-left: 8px;
          }
        }

        svg {
          width: 45%;
          height: auto;
          display: block;
          margin: 0px auto 32px auto;
        }

        a {
          margin: 32px auto 15px auto;
          color: #ffffff !important;
          background-color: $primaryColor;
          transition: all, 0.15s ease-out;
        }

        a:hover {
          transform: scale(1.075);
        }
      }
    }

    .part1 {
      span {
        i {
          background-color: $tertiaryColorA;
        }
      }
    }

    .part2 {
      span {
        i {
          background-color: $secondaryColorA;
        }
      }
    }

    .part3 {
      span {
        i {
          background-color: $primaryColorA;
        }
      }
    }

    .part4 {
      span {
        i {
          background-color: $tertiaryAltColorA;
        }
      }
    }
  }

  .resume {
    width: 100%;
    margin: math.div($defaultMargin, 1) auto;
    display: flex;
    a {
      border-color: #ccfde6;
      color: #ffffff !important;
      background-color: #031223;
      // background-color: #ccfde6;
      i {
        color: #ccfde6;
      }
    }
  }

  svg {
    display: block;
    width: 160px;
    height: auto;
    margin: 32px auto;
    pointer-events: none;
    animation: fadein 4s;
  }
}
