@use 'sass:math';
@import '/src/styles/scss';

li.galleryItem {
  display: none;

  a.card {
    overflow: hidden;
    text-decoration: none;
    display: block;
    // animation: hideGalleryItem .25s ease-out;
    //visibility: none;
    //visibility: hidden;
    background-color: #f5f6f9;
    border: 1px solid #dad8d8;
    border-radius: $borderRadiusA;
    z-index: 10;
    //min-height: max-content;

    height: max-content !important;
    transform: translateY(0px);
    transition: all, 0.15s ease-out;

    .imageWrapper {
      position: relative;
      cursor: zoom-in;
      img {
        transition: $cardsHvrTransN;
        aspect-ratio: 16/9;
        transform: scale(1);
        object-position: center top !important;
      }

      .view {
        //display: none;
        display: flex;
        grid-gap: math.div($defaultMargin, 4);
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: math.div($defaultPadding, 4);
        right: math.div($defaultPadding, 4);
        padding: 0px;
        pointer-events: none;
        width: fit-content;
        border-top: none;

        span {
          z-index: 10000;
          display: flex;
          width: fit-content;
          align-content: center;
          border-radius: $borderRadiusA;
          padding: math.div($defaultPadding, 8);
          background-color: #ffffff;
          border: 1px solid $txtColor;
        }

        span:hover {
          color: $primaryColor;
          border: 1px solid $primaryColor;
        }

        .openItem {
          cursor: pointer;
          pointer-events: auto;
        }

        .openLightBox {
          pointer-events: none;
        }
      }
    }

    span {
      display: block;
      border-top: 1px solid #dad8d8;
      color: $txtColor;
      padding: math.div($defaultPadding, 2) math.div($defaultPadding, 2);

      p:first-of-type {
        font-size: 108%;
        font-weight: 700;
        display: flex;
        align-content: space-between;
        margin-bottom: math.div($defaultMargin, 8);

        i {
          //font-weight: inherit;
          color: inherit;
          margin-left: auto;
        }
      }

      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

ul.tagNames {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: math.div($defaultMargin, 4) 0 0 0;
  justify-content: left;
  align-items: center;
  grid-gap: math.div($defaultMargin, 4);

  li.tagName,
  li.isActive {
    font-size: 80%;
    // line-height: 90%;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    width: fit-content;
    padding: math.div($defaultPadding, 8) math.div($defaultPadding, 4);
    background-color: #dcdcdc;
  }

  li.isActive {
    color: #ffffff;
    background-color: $primaryColor;
  }
}

li.galleryItem:hover {
  a.card {
    box-shadow: $boxShadowC;
    text-decoration: none;
    border-color: $primaryColor;
    .imageWrapper {
      position: relative;
      cursor: zoom-in;
      img {
        transform: scale(1.033);
        object-position: center top !important;
      }
    }

    div {
      .openItem {
        background-color: $primaryColor;
        border-color: $primaryColor;
        i {
          color: #ffffff;
        }
      }
    }

    span {
      text-decoration: none;
      p {
        i {
          color: $primaryColor;
        }
      }
      ul li {
      }
    }
  }
}

.galleryItem.show,
.galleryItem.isActive {
  display: flex;
  height: fit-content !important;
}

@keyframes showGalleryItem {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideGalleryItem {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
