@use 'sass:math';
@import 'src/styles/scss';

.galleryPage {
  margin-bottom: math.div($defaultMargin, 1);
  padding-top: 150px;

  h1 {
    text-align: left;
    // margin-bottom: 0;
  }

  .galleryItem {
    display: flex;
    flex-direction: row;
    grid-gap: math.div($defaultMargin, 2);
    align-items: flex-start;

    @include respond-below(md) {
      flex-direction: column;
    }

    .galleryDescription {
      width: 33%;
      min-width: 33%;
      grid: 16px;
      @include respond-below(md) {
        width: 100%;
        min-width: 33%;
      }

      .date {
        margin-bottom: math.div($defaultMargin, 4);
      }
      a.visit {
        display: flex;
        align-items: center;
        font-size: 90%;
        width: fit-content;
        margin-bottom: math.div($defaultMargin, 2);
        i {
          margin-right: math.div($defaultMargin, 4);
        }
      }
      a.visit:hover {
        text-decoration: none;
      }

      ul.tagNames {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: left;
        margin-bottom: math.div($defaultMargin, 2);
      }

      p.sizing {
        //width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: math.div($defaultMargin, 2) 0;
      }

      p.sizing {
        font-size: 85%;
        opacity: 0.75;
        margin-top: 0;
      }
      p.description {
        margin: math.div($defaultMargin, 1) 0;
        text-align: center;
      }
    }

    .galleryImage {
      div {
        margin-bottom: ($defaultMargin * 2);
        border: 1px solid #dad8d8;
        box-shadow: $boxShadowC;
        img {
        }
      }
      div:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
