@use 'sass:math';
@import '/src/styles/scss';

.quote blockquote {
  display: block;
  font-weight: 500;
  font-size: $h2;
  //font-style: italic;
  color: inherit;
  // quotes: "\201C ""\201D ""\2018 ""\2019 ";
  text-align: center;
  margin: math.div($defaultPadding, 1) auto;
}

.quote blockquote:before,
.quote blockquote:after {
  color: inherit;
  opacity: 0.33;
  content: '“';
  vertical-align: -0.3em;
  letter-spacing: math.div($defaultPadding, 4);
}

.quote blockquote:after {
  content: '”';
  padding-left: math.div($defaultPadding, 4);
  letter-spacing: 0;
}
