@use 'sass:math';
@import '/src/styles/scss';

li.blogItem {
  a {
    h1 {
      margin-bottom: 16px;
    }

    p.date {
      font-size: 90%;
    }

    p {
      color: $txtColor;
    }
    span {
      display: flex;
      width: 100%;
      i {
        margin-left: auto;
      }
    }
  }
  a:hover {
    text-decoration: none;
    h1 {
      text-decoration: underline;
    }
    p {
      color: $txtColor;
    }
  }
}
